
.result-page{
  margin-top: 6%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 1.3rem 2rem;

  border: 2px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
width: 85%;
max-width: 400px;
text-align: center;
}


.robot-container{
  display: flex;
}
.first-page{
  height: 100%;
  margin:0;
  padding:0;
}


html,body{
  height: 100%;
  margin:0;
}
.newbody{  box-sizing: border-box;
  color: #35465d;
  height: 110%;
  display: none;
  color:black;
  font-family: 'Do Hyeon', sans-serif;
  background-color: #ffec63;
  background-image: linear-gradient(
      45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    ),
    linear-gradient(
      -45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    );
  background-size: 60px 60px;
  background-position: 0 0;
  animation: slide 4s infinite linear;
}





.swiper-button-next{
  color: #ffec63;

}
.swiper-button-prev{
 color: #ffec63;

}


.swiper-container {
  width: 95%
}

.swiper-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  padding: 1.3rem 2rem;

  border: 2px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}


.swiper-slide {


  padding-bottom:5%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.topic{
  width: 80%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.btn-mbti {

  padding-left: 6%;
  width:110%;
  height: 100%;
  color:inherit;
    font-family:inherit;
  font-size: 1.2rem;
  background: white;
  border: 1.2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  text-align: left;
  margin-bottom: 3%;

}


.radio{
display: none;
}



.btn-mbti:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn-mbti:active {
  background-color: blue;

  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.btn-group-vertical{

  align-items: center;
}


.start-btnset{
  display: flex;
  justify-content: center;
}



.Pressbtn{
  font-size: 1.4rem;
  padding: 2% 5%;
  font-family: 'Do Hyeon', sans-serif;
  width: auto;
  background: white;
  border: 1.2px solid rgb(47, 184, 138);
  border-radius: 10px;
  transition: all 0.2s;
  text-align:center;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);

}


.Pressbtn:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);

}

.Pressbtn:active {
  background-color: blue;

  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);

}



#mbti_start {
display: flex;
  background-color: #ffec63;
  background-image: linear-gradient(
      45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    ),
    linear-gradient(
      -45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    );
  background-size: 60px 60px;
  background-position: 0 0;
  animation: slide 4s infinite linear;
  color:black;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}

#mbti_start {
  height: 35rem;
  padding: 15% 3%;
  padding-bottom: 8%;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1.5px rgb(47, 184, 138);
  background-color:  rgba(47, 184, 138,0.3);

}


.mbtiset{

  width: 85%;
  height: 80%;
  display: none;
  font-size: 0.5rem;
  background-color: white;
  border-radius: 10px;
}







#mbti1{
  display: none;
}



#machinelearning{
  max-height: 90%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.finish{
  display: none;
  margin-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  border: solid 1.5px rgb(47, 184, 138);
}
.analysting{
  display: none;
  margin-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  border: solid 1.5px rgb(47, 184, 138);
}
.speech-bubble{

  display: block;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  border: solid 1.5px rgb(47, 184, 138);
}






.robot{
  width:auto;
  height: 3.5rem;
}

.youtubelogo{
  width:auto;
  height: 5rem;
}
body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
}




.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 3%;
  padding-bottom: 8%;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1.5px rgb(47, 184, 138);
  background-color:  rgba(47, 184, 138,0.3);
}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
.newbody > #loading{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  
  width: 60%;
  margin: 0 auto;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
font-size:1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.message-before-box{
	padding-left:10%;
	
}


.message-title{
	margin-top: 10%;
		margin-bottom: 5%;

}


h3{
  text-align: center;
	font-size:1.4rem;

}

.file-upload-image {
  margin-top: 5%;
  width:13rem;
  height:13rem;
  max-height: 30%;
  max-width: 30%;
	margin-left:4%;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px rgb(52, 71, 95);
  background-color: rgb(52, 71, 95,0.3);
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance{
  padding: 2.1% 7.7%;
}


.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #35465d; 
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #35465d;
	font-size: 1.3rem;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}


.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}
.comedy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.comedy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.game-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(208, 233, 70, 0.2);
}
.game-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(208, 233, 70, 1);
}
.sports-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(234, 144, 27,0.2);
}
.sports-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(234, 144, 27);
}
.vlog-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(81, 171, 212, 0.2);
}
.vlog-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(81, 171, 212, 1);
}
.fashion-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(196, 80, 157, 0.2);
}
.fashion-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(196, 80, 157, 0.966);
}
.economy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(165, 116, 60, 0.2);
}
.economy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(165, 116, 60, 1);
}
.tech-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(47, 152, 184, 0.2);
}
.tech-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(47, 152, 184, 1);
}

.food-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 168, 54, 0.2);
}
.food-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 168, 54, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.channel-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}

.resultTotal{
  margin-top: 1.2rem;
  background-color: rgba(230, 230, 230,0.7);
  border-radius: 30px;
}


  .subsBtn:focus{
    border: none;
    outline:none;

  }

.subsBtn{
  width:5rem;
  margin-top: 0.5rem;
  border:none;
  padding-top: 0.7rem;
  padding-bottom: 0.9rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-right: 3rem;

  font-family: '맑은 고딕';
  font-size: 0.9rem;
  color: white;
  background-color: rgba(218, 45, 33, 0.938);
  height: 2.7rem;
}


.result-box{
  margin-bottom: 1rem;
  background-color:rgba(230, 230, 230,0) ;
}


.result-message {
  margin-top: 5%;
  padding-left: 3%;
  text-align: left;
    font-size: 1.5rem;
}

.result-message2 {
  background-color: rgba(230, 230, 230,0.7);
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 3.5%;
  padding: 1rem 3rem;
  text-align: left;
  font-size: 1.5rem;
}

.result-message3 {
  background-color: rgba(230, 230, 230,0.7);
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 3.5%;
  padding-left: 1rem 3rem;
  text-align: left;
    font-size: 1.5rem;
}

.channel-subsPredict{
	font-size: 1rem;

}


.related-celeb{
  margin-top: 2%;
  color: rgba(45, 123, 168, 0.87);
  font-size: 1.2rem;
}


.channel-explain {
  margin-top: 4%;
  margin-top: 4%;

  font-family: 'Poor Story', cursive;
    line-height: 1.4;
  font-weight: 500;
    font-size: 1.5rem;
}
.ESTP-channel-category {
    color: rgba(184, 88, 44,0.87);
}
.ESTP-related-celeb {
    color: rgba(184, 88, 44, 0.87);
    font-size: 1rem;
}
.ESTP-related-warn{
  color: rgb(184, 88, 44);
  font-size: 1rem;
}


.ENTJ-channel-category {
  color: rgba(87, 129, 32, 0.95);
}
.ENTJ-related-celeb {
  color: rgba(87, 129, 32, 0.95);
  font-size: 1rem;
}
.ENTJ-related-warn{
color: rgba(87, 129, 32, 0.95);
font-size: 1rem;
}




.ESTJ-channel-category {
    color: rgba(138, 51, 51, 0.87);
}
.ESTJ-related-celeb {
    color: rgba(138, 51, 51, 0.87);
    font-size: 1rem;
}
.ESTJ-related-warn{
  color: rgba(138, 51, 51, 0.87);
  font-size: 1rem;
}


.ISTP-channel-category {
  color: rgba(47, 146, 121, 0.87);
}
.ISTP-related-celeb {
  color: rgba(47, 146, 121, 0.87);
  font-size: 1rem;
}
.ISTP-related-warn{
color: rgba(47, 146, 121, 0.87);
font-size: 1rem;
}




.ISTJ-channel-category {
  color: rgba(61, 206, 157, 0.87);
}
.ISTJ-related-celeb {
  color: rgba(61, 206, 157, 0.87);
  font-size: 1rem;
}
.ISTJ-related-warn{
color: rgba(61, 206, 157, 0.87);
font-size: 1rem;
}




.ESFP-channel-category {
  color: rgba(207, 76, 116, 0.87);
}
.ESFP-related-celeb {
  color: rgba(207, 76, 116, 0.87);
  font-size: 1rem;
}
.ESFP-related-warn{
color: rgba(207, 76, 116, 0.87);
font-size: 1rem;
}




.ESFJ-channel-category {
  color: rgba(236, 134, 206, 0.938);
}
.ESFJ-related-celeb {
  color: rgba(236, 134, 206, 0.938);
  font-size: 1rem;
}
.ESFJ-related-warn{
color: rgba(236, 134, 206, 0.938);
font-size: 1rem;
}




.ISFJ-channel-category {
  color: rgba(202, 221, 94, 0.87);
}
.ISFJ-related-celeb {
  color: rgba(202, 221, 94, 0.87);
  font-size: 1rem;
}
.ISFJ-related-warn{
color: rgba(202, 221, 94, 0.87);
font-size: 1rem;
}



.ISFP-channel-category {
  color: rgba(184, 78, 161, 0.87);
}
.ISFP-related-celeb {
  color: rgba(184, 78, 161, 0.87);
  font-size: 1rem;
}
.ISFP-related-warn{
color: rgba(184, 78, 161, 0.87);
font-size: 1rem;
}



.ENTP-channel-category {
  color: rgba(144, 209, 240, 0.973);
}
.ENTP-related-celeb {
  color: rgba(144, 209, 240, 0.973);
  font-size: 1rem;
}
.ENTP-related-warn{
color: rgba(144, 209, 240, 0.973);
font-size: 1rem;
}



.INTP-channel-category {
  color: rgba(75, 177, 207, 0.87);
}
.INTP-related-celeb {
  color: rgba(75, 177, 207, 0.87);
  font-size: 1rem;
}
.INTP-related-warn{
color: rgba(75, 177, 207, 0.87);
font-size: 1rem;
}





.INTJ-channel-category {
    color: rgb(71, 38, 163);
}
.INTJ-related-celeb{
    color:rgb(71, 38, 163);
    font-size: 1rem;
}
.INTJ-related-warn{
  color:rgb(71, 38, 163);
  font-size: 1rem;
}



.ENFP-channel-category {
    color: #d6c39f;
}
.ENFP-related-celeb{
    color: #d6c39f;
    font-size: 1rem;
}
.ENFP-related-warn{
  color: #d6c39f;
  font-size: 1rem;
}


.ENFJ-channel-category {
    color: #7cdad5;
}

.ENFJ-related-celeb{
    color: #7cdad5;;
    font-size: 1rem;
}
.ENFJ-related-warn{
  color: #7cdad5;
  font-size: 1rem;
}



.INFP-channel-category {
    color: #ba8ecc;
}
.INFP-related-celeb {
    color: #ba8ecc;
    font-size: 1rem;
}
.INFP-related-celeb{
  color: #ba8ecc;
  font-size: 1rem;
}



.INFJ-channel-category {
    color: #ab8de2;
}
.INFJ-related-celeb {
    color: #ab8de2;
    font-size: 1rem;
}
.INFJ-related-warn{
  color: #ab8de2;
  font-size: 1rem;
}

.result-page img{
  width: 40%;
  max-width: 400px;

}





/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
    width: 320px;
    margin: 0 auto;
}